<h3>Pacjent: Imię nazwisko pacjenta</h3>
<div class="section">
    <div>
        <br>
    </div>

    <form id="appointment-form" ng-submit="controller.save()">

        <div class="form-group">
            <label for="appointment-appointmentDate">Data</label>
            <input style="width: 400px;" class="form-control" id="appointment-appointmentDate" type="datetime-local"
                   ng-model="controller.appointment.appointmentDate"/>
        </div>

        <div class="form-group">
            <label for="appointment-description">Opis</label>
            <input style="width: 400px; height: 200px;" class="form-control" id="appointment-description"
                   ng-model="controller.appointment.description"/>
        </div>
    </form>

    <form class="form-inline" id="appointment-examination-form" ng-submit="controller.addExamination()">
        <div class="form-group">
            <label for="examination">Zlecone badania</label><br>
            <select style="width: 400px;" id="examination" class="form-control"
                    ng-options="examination.name for examination in controller.examinations"
                    ng-model="controller.selectedExamination"></select>
            <button class="btn btn-success" type="submit">Dodaj badanie</button>
            <br>
        </div>
    </form>

    <div>
        <br>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nazwa badania</th>
            <th>Cena</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="examination in controller.appointment.examinations">
            <td>{{examination.name}}</td>
            <td>{{examination.price}}</td>
        </tr>
        </tbody>
    </table>

    <div>
        <br>
    </div>

    <button class="btn btn-info" type="submit" form="appointment-form">Dodaj wizytę</button>
    <div>
        <br>
        <br>
        <br>
    </div>
</div>