<h3>Pacjent: {{controller.patient.surname}} {{controller.patient.name}}</h3>
<div>
    <br>
</div>
<button class="btn btn-info" ng-click="controller.goToAddAppointments()">Dodaj wizytę</button>
<div>
    <br>
</div>
<div class="section">

    <div>
        <br>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Data</th>
            <th>Opis</th>
            <th>Zlecone badania</th>
            <th>Opcje</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="appointment in controller.appointmentList">
                <td>{{appointment.appointmentDate | date}}</td>

                <td width="400px">
                    <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#{{appointment.id}}"
                            aria-expanded="false" aria-controls="{{appointment.id}}">
                        Pokaż opis
                    </button>
                    <div class="collapse" id="{{appointment.id}}">
                        <div class="card card-body">
                            {{appointment.description}}
                        </div>
                    </div>
                </td>

                <td></td>
                <td>

                    <button class="btn btn-info" ng-click="controller.viewAppointment(appointment.id)">Edytuj</button>
                    <button class="btn btn-danger" ng-click="controller.deleteAppointment(appointment.id)">Usuń</button>
                </td>
            </tr>
        <!--<tr ng-repeat="examination in appointment.examinations | orderBy: 'name'" ng-repeat-end>-->
        <!--<td>{{examination.name}}</td>-->
        <!--</tr>-->
        </tbody>
    </table>

    <div>
        <br>
    </div>
</div>